{% extends "layout.html" %}

{% block title %}
    Quote 
{% endblock %}

{% block main %}
    <form action="/quote" method="post" class=" row g-2 d-flex justify-content-center">
        <div class="badge bg-transparent text-dark fs-4 mb-3">
            Quote Current Stock Price 
        </div>
        <div class="col-auto">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Ticker Symbol" type="text">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Search</button>
          </div>
    </form>
{% endblock %}